@import url ('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	background-image: url("D:\SQMC093007\html javascript css\relógio\Lua.jpg");
	display: flex;
	align-items: center;
	justify-content: center;
}

.watch {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 250px;
	width: 550px;
	background: rgba(255, 255, 255, 0.35);
	box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.watch div {
	height: 180px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #502F49;
	background:rgba(255, 255, 255, 0.61);
	box-shadow: 0 8px 32 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0;18);
}

.watch span {
	font-weight: bold;
	font-size: 70px;
}

.watch span.time {
	font-size: 15px;
}

@media (max-width: 600px) {
	body {
		background-image:url("D:\SQMC093007\html javascript css\relógio\Lua.jpg");
	}
	.watch {
		height: 200px;
		width: 370px;
	}
	.watch div {
		height: 140px;
		width: 100px;
		